IIB_EMP_DETAILS/IIB_EMP_DETAILSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="IIB_EMP_DETAILS" targetNamespace="http://tempuri.org/IIB_EMP_DETAILS" xmlns="http://tempuri.org/IIB_EMP_DETAILS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/IIB_EMP_DETAILS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/IIB_EMP_DETAILS" xmlns:mrm="http://tempuri.org/IIB_EMP_DETAILS">
      <xsd:complexType name="GET_EMP_REQUEST">
        <xsd:sequence>
          <xsd:element ref="Emp_Id"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GET_EMP_RESPONSE">
        <xsd:sequence>
        	<xsd:element ref="Emp_Id" />
        	<xsd:element ref="Emp_Name" />
        	<xsd:element ref="Emp_DOB" />
        	<xsd:element ref="Emp_Phone" />
        	<xsd:element ref="Emp_Mail" />
        	<xsd:element ref="Emp_Address" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FAULT">
        <xsd:sequence>
          <xsd:element ref="Fault"/>
          <xsd:element ref="Fstring"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Emp_Id" type="xsd:int"/>
      <xsd:element name="Emp_Name" type="xsd:string"/>
      <xsd:element name="Emp_Phone" type="xsd:int"/>
      <xsd:element name="Emp_Address" type="xsd:string"/>
      <xsd:element name="Emp_Mail" type="xsd:string"/>
      <xsd:element name="Emp_DOB" type="xsd:date"/>
      <xsd:element name="Fault" type="xsd:int"/>
      <xsd:element name="Fstring" type="xsd:string"/>
      <xsd:element name="GET_EMP_REQUEST" type="GET_EMP_REQUEST"/>
      <xsd:element name="GET_EMP_RESPONSE" type="GET_EMP_RESPONSE"/>
      <xsd:element name="FAULT" type="FAULT"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetEmpDetails_in">
    <wsdl:part element="GET_EMP_REQUEST" name="GET_EMP_REQUEST"/>
  </wsdl:message>
  <wsdl:message name="GetEmpDetails_out">
    <wsdl:part element="GET_EMP_RESPONSE" name="GET_EMP_RESPONSE"/>
  </wsdl:message>
  <wsdl:message name="GetEmpDetails_fault1">
    <wsdl:part element="GET_EMP_RESPONSE" name="GET_EMP_RESPONSE"/>
  </wsdl:message>
  <wsdl:portType name="IIB_EMP_DETAILSPortType">
    <wsdl:operation name="GetEmpDetails">
      <wsdl:input message="GetEmpDetails_in" name="GetEmpDetails_Input"/>
      <wsdl:output message="GetEmpDetails_out" name="GetEmpDetails_Output"/>
      <wsdl:fault message="GetEmpDetails_fault1" name="GetEmpDetails_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IIB_EMP_DETAILSSOAP_HTTP_Binding" type="IIB_EMP_DETAILSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmpDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEmpDetails_Input">
        <soap:body parts="GET_EMP_REQUEST" use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEmpDetails_Output">
        <soap:body parts="GET_EMP_RESPONSE" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetEmpDetails_Fault">
        <soap:fault name="GetEmpDetails_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IIB_EMP_DETAILS_Service">
    <wsdl:port binding="IIB_EMP_DETAILSSOAP_HTTP_Binding" name="IIB_EMP_DETAILSSOAP_HTTP_Port">
      <soap:address location="http://localhost:7801/IIB_EMP_DETAILS_Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>