SOAP_APP/TechZert_Team_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.TechZert_Team.org/TechZert_Team/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.TechZert_Team.org/TechZert_Team/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Employee_Details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Emp_Id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Employee_DetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Name" type="xsd:string"/>
          	<xsd:element name="Mobile" type="xsd:double"/>
          	<xsd:element name="From" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>